# Build folders
bin/
obj/

# Rider / IntelliJ
.idea/
*.sln.iml

# Visual Studio (на всякий випадок)
.vs/

# User-specific files
*.user
*.userosscache
*.suo

# ReSharper
_ReSharper*/
*.DotSettings.user

# OS files
.DS_Store
Thumbs.db